/* Imports  */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"); /* Bootstrap Icons */


/* keyframes */

@keyframes renderize {
    from {
        -webkit-box-shadow: 0 0 #189685, 0 0 #189685, 0 0 #189685, 0 0 #189685, 0 0 #189685, 0 0 #189685, 0 0 #189685, 0 0 #189685;
        box-shadow: 0 0 #189685, 0 0 #189685, 0 0 #189685, 0 0 #189685, 0 0 #189685, 0 0 #189685, 0 0 #189685, 0 0 #189685;
    }
    to {
        -webkit-box-shadow: 0.5px -0.5px #178072, 1px -1px #178072, 2px -2px #178072, 3px -3px;
        box-shadow: 0.5px -0.5px #178072, 1px -1px #178072, 2px -2px #178072, 3px -3px; 
        -webkit-transform: translateX(-8px) translateY(8px);
        transform: translateX(-8px) translateY(8px);
    }
}
  
/* Raw Tag Rules and Overrides */

html, body {
    height: 100% !important;
    background: rgb(238,174,202);
    padding:0px;
    margin:0px;
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

form h1 {
    margin-bottom:15px;
}

h1,h2,h3,h4,h5,h6,p {
    font-family: "Lexend Deca", sans-serif;
    color:#189685;
}

img[role="logo"] {
    -webkit-user-drag: none !important;
    user-select: none  !important;
    -moz-user-select: none  !important;
    -webkit-user-select: none  !important;
    -ms-user-select: none  !important;
}

footer {
    color:#2DAC9B;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
    font-size:10pt;
    margin:0px;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
}

footer a {
    color:inherit;
    text-decoration: none;
    font-weight: 700;
}

footer a:hover {
    color:#189685;
    font-weight: 900;
}

footer a:hover path {
    fill:#189685;
}

path {
    fill: #2DAC9B;
}


/* Own IDs */


#profileMenu, #groupsMenu, #newDemandMenu {
    display: none;
}


#profileMenu[showMenu] { 
    display: block !important;
}

#groupsMenu[showMenu] {
    display: block !important; 
}

#newDemandMenu[showMenu] {
    display: block !important;
}

#profileDropdown > #profileMenu {
    right:5px;
}

#groupsDropdown > #groupsMenu {
    right:70px;
}

#newDemandDropdown > #newDemandMenu {
    right:140px;
}

#contentBox {
    background-color: #f5f5f5;
    margin:5px 10px 5px 10px;
    height:calc(100% - 74px - 60px - 10px);
    border-radius: 10px;
    padding:15px 5px 15px 5px;
}

#contentTitle {
    font-size:10pt;
    background-color: #e6e6e6;
    display: inline;
    padding:5px 20px 5px 20px;
    border-radius:15px
}

/* Own Classes */

/* https://webdesign.tutsplus.com/tutorials/how-to-create-a-frosted-glass-effect-in-css--cms-32535  for matte glass */
/* https://stackoverflow.com/questions/24744776/creating-bevel-effect-for-content-box for Bevel Effect (modified)*/
.loginBox {
    background-color: rgba(255, 255, 255, .30);  
    backdrop-filter: blur(5px);
    border-radius: 15px;

    box-shadow: inset 0.09em 0.09em 0.09em 0 rgba(255,255,255,0.5), inset -0.1em -0.1em 0.1em 0 rgba(255,255,255,0.25);

    padding:30px
}

.infoBox {
    background-color: rgba(255, 255, 255, .30);  
    backdrop-filter: blur(5px);
    border-radius: 15px;

    box-shadow: inset 0.09em 0.09em 0.09em 0 rgba(255,255,255,0.5), inset -0.1em -0.1em 0.1em 0 rgba(255,255,255,0.25);
    padding:10px 30px 10px 30px;
}

.infoBox p {
    margin:0px !important;
    color: #034f00;
    font-size: 11pt;
    font-family: 'Roboto', sans-serif;
}

/* Tooltip guide: https://popper.js.org/docs/v2/tutorial/ */
.cst-tooltip {
    padding:0.09em 1em 0.09em 1em;
    border-radius:0.25em;
    display: inline-flex;
    font-size:0.8em;
    background-color: #189685;
    color:white;
    display: none;
    z-index:999;
}

.cst-arrow, .cst-arrow::before {
    position:absolute;
    width:8px;
    height:8px;
    background-color: inherit;
}

.cst-arrow {
    visibility: hidden;
}

.cst-arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}

.cst-tooltip[data-popper-placement^='top'] > .cst-arrow {
    bottom: -4px;
}
  
.cst-tooltip[data-popper-placement^='bottom'] > .cst-arrow {
    top: -4px;
}
  
.cst-tooltip[data-popper-placement^='left'] > .cst-arrow {
    right: -4px;
}
  
.cst-tooltip[data-popper-placement^='right'] > .cst-arrow {
    left: -8px;
}

.cst-tooltip[data-show] {
    display:block;
}

.cst-smallText {
    color: #189685;
    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;
    
}
.cst-smallText a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
    font-size:10pt;
    font-weight: 600;
}

.cst-smallText a:hover {
    color: #2DAC9B;
}

.cst-formTitle {
    color:#2DAC9B;
    font-family: 'Roboto', sans-serif;
    font-size:20pt;
}

.cst-alert-form-warning {
    background-color: rgba(252, 219, 3, 0.2) !important;
    backdrop-filter: blur(5px) !important;

    padding:20px;
    border-radius:15px;
    margin: 15px 0px 15px 0px;

    box-shadow: inset 0.09em 0.09em 0.09em 0 rgba(252, 227, 3, 0.2), inset -0.1em -0.1em 0.1em 0 rgba(252, 227, 3,0.2);

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    color:#856404;
}

.cst-alert-form-success {
    background-color: rgba(2, 201, 85, 0.2) !important;
    backdrop-filter: blur(5px) !important;

    padding:20px;
    border-radius:15px;
    margin: 15px 0px 15px 0px;

    box-shadow: inset 0.09em 0.09em 0.09em 0 rgba(3, 252, 40, 0.2), inset -0.1em -0.1em 0.1em 0 rgba(0, 110, 0, 0.2);

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 10pt;
    color:#034f00;
}

.cst-dropdown{
    cursor: pointer;
    box-shadow: .5px .5px 4px gray;
    padding:10px;   
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.cst-dropdown-out{
    background-color: inherit !important;
    color: #2DAC9B;
}

.cst-dropdown-over {
    background-color: #2DAC9B !important;
    color: white;
}

.cst-dropdown-a {
    text-decoration: none;
    vertical-align: middle;
    color:inherit;
}

.cst-dropdown-a:hover{
    color: inherit !important;
}

.iconButton {
    border-radius:10px;
}

.dropdownMenu {
    background-color: #189685;
    top:calc(100% - 5px);
    font-family: 'Roboto', sans-serif;
    color:white;    
    border:3px solid #eeaeac;
    border-radius:15px;
    position:absolute;
    padding:10px 0px 10px;
}

.dropdownArrow, .dropdownArrow::before {
    position:absolute;
    width:8px;
    height:8px;
    background-color: #eeaeac;
}
    
.dropdownArrow {
    visibility: hidden;
}

.dropdownArrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}

#newDemandMenu > .dropdownArrow {
    top:-6px;
    right:20px;
}

#profileMenu > .dropdownArrow {
    top:-6px;
    right:20px;
}

#groupsMenu > .dropdownArrow {
    top:-6px;
    right: 15px; 
}

.dropdownMenu ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}

.dropdownMenu ul li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    
}

.dropdownMenu ul li a {
    font-family: 'Montserrat', sans-serif;
    padding:0px 20px 0px 20px;
    width:100% !important;
    color:inherit;
    font-size: 8pt;
    text-decoration: none;
}

.dropdownMenu ul li a:hover {
    background-color: #eeaeac;
    padding:-0.5px;
    color:whitesmoke;
}

.boxTitle {
    font-size:9pt;
}

.cst-infoBox {
    padding:15px;
    border:2.5px solid rgba(214, 214, 214,0.5);
    border-radius:10px;
}

.cst-field-general{
    padding: 5px;
    font-family: 'Lexend Deca', sans-serif;
    border: 2px solid #2DAC9B;
}

.field-Title {
    background-color: #2DAC9B;
    color:whitesmoke;
    font-weight: 300;
    border-start-start-radius: 10px;
    border-end-start-radius: 10px;
    display:inline-block;
    min-width: 80px;
}

.field-Value {
    background-color: #EAEAEA;
    font-weight: 200;
    border-end-end-radius: 10px;
    border-start-end-radius: 10px;
    display:inline-block;
    min-width: 120px;
}

.createProfile {
    background-color: #2DAC9B;
    padding:8px;    
    font-family: inherit;
    color:whitesmoke;
    border-radius: 15px;
}

.createProfile:hover {
    animation-name: renderize;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    background-color: #2DAC9B;
    cursor: pointer;
    user-select: none;
}

/* Bootstrap Overrides */

.btn.btn-primary.btn-login {
    background-color: #2DAC9B;
    border:none;    
    font-family: 'Montserrat', sans-serif;
}

.btn.btn-primary.btn-login:hover {
    background-color: #189685;
    border:none;    
}

.form-control.logincontrol{    
    background-color: rgba(255, 255, 255, .10);  
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid white;
}

.form-control.logincontrol::placeholder {    
    color:#189685;
    font-weight: 300;
}

.form-control.logincontrol {    
    background-color: rgba(255, 255, 255, .10);  
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color:#189685;
    font-weight: 600;
}

.form-control.logincontrol:focus {
    outline: 2px solid #189685;
    border:none;
    box-shadow: none;
}

