{% extends "baseHeading.html" %}


{% block main %}

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="InhouseDM" width="60" height="48">
        </a>

        <!-- https://www.geeksforgeeks.org/how-to-create-dropdown-list-using-javascript/ -->
        
        <div class="ms-auto d-flex align-middle">
            <div id="newDemandDropdown">
                <div id="newDemandButton" class="cst-dropdown cst-dropdown-out d-flex iconButton me-3">
                    <a class="cst-dropdown-a d-flex" href="/">New Demand&nbsp;<span class="material-icons">add_task</span></a>
                </div>
                <div id="newDemandMenu" class="dropdownMenu align-middle">
                    <span class="dropdownArrow"></span>
                    <ul class="justify-content-center d-inlineblock w-100 justify-content-center">
                        <li class="justify-content-center d-block"><a class="d-flex align-items-center" href="/"><span class="material-symbols-outlined">receipt_long</span> &nbsp;&nbsp;BILL</a></li>
                        <li class="justify-content-center mt-2 mb-2 d-block"><a class="d-flex align-items-center" href="/"><span class="material-symbols-outlined">shopping_basket</span>&nbsp;&nbsp;GOODS LIST</a></li>
                        <li class="justify-content-center d-block"><a class="d-flex align-items-center" href="/"><span class="material-symbols-outlined">list_alt</span>&nbsp;&nbsp;CHORES</a></li>
                    </ul>
                </div>
            </div>
              
            <div id="groupsDropdown">
                <div id="groupsButton" class="cst-dropdown cst-dropdown-out d-flex iconButton me-3">
                    <a class="cst-dropdown-a d-flex" href="/family"><span class="material-icons">groups</span></a>
                </div>  
                <div id="groupsMenu" class="dropdownMenu align-middle">
                    <span class="dropdownArrow"></span>
                    <ul class="justify-content-center d-inlineblock w-100 justify-content-center">
                        <li class="justify-content-center d-block"><a class="d-flex align-items-center" href="/"><span class="material-icons">group</span> &nbsp;&nbsp;MEMBERS</a></li>
                        <li class="justify-content-center d-block"><a class="d-flex align-items-center" href="/"><span class="material-symbols-outlined">space_dashboard</span>&nbsp;&nbsp;DASHBOARD</a></li>
                    </ul>
                </div>
            </div>
            
            <div id="profileDropdown">
                <div id="profileButton" class="cst-dropdown cst-dropdown-out d-flex iconButton">
                    <a class="cst-dropdown-a d-flex" href="/profile"><span class="material-icons">person</span></a>
                </div>
                <div id="profileMenu" class="dropdownMenu align-middle">
                    <span class="dropdownArrow"></span>
                    <ul class="justify-content-center d-inlineblock w-100 justify-content-center">
                        <li class="justify-content-center d-block"><a class="d-flex align-items-center" href="/profile"><span class="material-icons">person</span>&nbsp;&nbsp;PROFILE</a></li>
                        <li class="justify-content-center d-block"><a class="d-flex align-items-center" href="/logout"><span class="material-symbols-outlined">logout</span>&nbsp;&nbsp;LOGOUT</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<script src="{{ url_for('static', filename='app.js') }}"></script>

<section id="contentBox">
    <div class="container-fluid">
        <h1 id="contentTitle">{% block pageHeading %}{% endblock %}</h1>
        {% block contentBox %}{% endblock %}
    </div>
</section>

<footer class= "align-items-center justify-content-center d-flex bg-light text-center text-lg-center">
    Current Version: {{ idm_version }} | Copyright 2022 &copy;&nbsp;<a href="http://github.com/araujoarthur">araujoarthur&nbsp;<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 01-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 010 8c0-4.42 3.58-8 8-8z"></path></svg></a>
    </footer>
{% endblock %}