{% extends "baseForms.html" %}

{% block title %} Register {% endblock %}

{% block formSection %}
    <form action="/register" method="POST">
        <img role="logo" src="{{ url_for('static', filename='logo.png') }}">
        <h1 class="cst-formTitle">Create an account</h1>
        <div class="mb-3 d-block">
            <input requierd="required" autocomplete="off" class="form-control mx-auto w-auto logincontrol" type="text" placeholder="Username" name="username"> 
            <div id="tooltipuser" class="cst-tooltip" role="tooltip">
                Must type username
                <div id="arrowuser" class="cst-arrow" data-popper-arrow></div>
            </div>
        </div>

        <div class="mb-3 d-block">
            <input class="form-control mx-auto w-auto logincontrol" autocomplete="password" type="password" placeholder="Password" name="password">
            <div id="tooltippass" class="cst-tooltip" role="tooltip">
                Must type password
                <div id="arrowpass" class="cst-arrow" data-popper-arrow></div>
            </div>
        </div>

        <div class="mb-3 d-block">
            <input class="form-control mx-auto w-auto logincontrol" autocomplete="confirm-password" type="password" placeholder="Confirm Password" name="confirmation">
            <div id="tooltipconf" class="cst-tooltip" role="tooltip">
                Must type password confirmation
                <div id="arrowconf" class="cst-arrow" data-popper-arrow></div>
            </div>
        </div>
        {% if get_flashed_messages() %}
            <div class="cst-alert-form-warning">
                {{ get_flashed_messages() | join(" ") }}
            </div>
        {% endif %}

        <button role="button" id="login-button" class="btn btn-primary btn-login">Register</button>
        <span role="text" class="cst-smallText"> or <a role="link" href="/login">Login</a></span>

        <script src="{{ url_for('static', filename='register.js') }}"></script>
</form>
{% endblock %}