{% extends 'baseApp.html' %}

{% block title %}
    New Bill
{% endblock %}

{% block pageHeading %} {{ session['username'] }} {{ headingArrow | safe}} new bill {% endblock %}

{% block contentBox %}
    <div class="container-fluid p-4 mt-2">
        <div class="row">
            <form>
                <div class="text-center">
                    <h2> Task Information </h2>
                    <!-- Task Title -->
                    <div class="cst-field-wrapper d-inline-block">
                        <span class="d-block">Task Title</span>
                        <input type="text" name="task_title" placeholder="task title">
                    </div>

                    <!-- Assigned To -->
                    <div class="cst-field-wrapper d-inline-block mt-2">
                        <span class="d-block">Assigned To</span>
                        <select name="task_assigned_to">
                            <option value="-1" selected default>Nobody</option>
                            {% for member in familyMembers %}
                            <option value="{{ member['id'] }}">{{ member['username'] }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Due Date -->
                    <div class="cst-field-wrapper d-inline-block mt-2">
                        <span class="d-block">Due</span>
                        <input type="date" name="bill_name" placeholder="bill name">
                    </div>

                    <!-- Flag Date -->
                    <div class="cst-field-wrapper d-inline-block mt-2">
                        <span class="d-block">Flag</span>
                        <select name="bill_type">
                            <option default selected value="-1">None</option>
                            {% for flag in Flags %}
                            <option value="{{ flag['id'] }}">{{ flag['name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
                <div class="text-center mt-4">
                    <h2> Bill Information </h2>
                    
                    <!-- Bill Name -->
                    <div class="cst-field-wrapper d-inline-block mt-2">
                        <span class="d-block">Bill Name</span>
                        <input name="bill_name" type="text" placeholder="bill name">
                    </div>

                    <!-- Bill Type -->
                    <div class="cst-field-wrapper d-inline-block mt-2">
                        <span class="d-block">Bill Type</span>
                        <select name="bill_type">
                            {% for option in billTypes %}
                            <option value="{{ option['id'] }}">{{ option['name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!-- Bill Value -->
                    <div class="cst-field-wrapper d-inline-block mt-2">
                        <span class="d-block">Bill Value</span>
                        <input class="monetary" name="bill_name" type="text" placeholder="R$">
                    </div>

                </div>         
            </form>
        </div>
    </div>
{% endblock %}